<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.mapper.PositionMapper">
<insert id="addPosition">
    insert into position values (#{posid},#{pname},#{pdesc})
</insert>
    <select id="findAllPos" resultType="position">
        select * from position
    </select>
    <select id="findByPosid" resultType="position">
        select * from position where posid=#{posid}
    </select>
    <delete id="deleteByPosid">
        delete from position where posid=#{posid}
    </delete>
    <update id="updatePosition">
        update position set pname=#{pname},pdesc=#{pdesc} where posid = #{posid}
    </update>


</mapper>